.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #8cc6e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}


.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.navLinks li a {
  text-decoration: none;
  color: #0d0d0d;
  font-weight: 500;
  transition: color 0.3s ease;
}


.navLinks li a:hover {
  color: #0077ff;
}


@media (max-width: 768px) {
  .navbar {
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navLinks {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-top: 0.5rem;
  }

 
  
}

